<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\1cv8\8.3.10.2650\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
